<p id="notice"><%= notice %></p>

<p class='new'><%= link_to 'New Sighting', new_sighting_path %></p>

<div id='map'></div>


<%= javascript_tag do %>

  var sightings = <%= raw @hash.to_json %>;
<% end %>

<table>
  <thead>
    <tr>
      <th>Animal</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>When Sighted</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sightings.each do |sighting| %>
      <tr>
        <td><%= sighting.animal_name %></td>
        <td><%= sighting.latitude %></td>
        <td><%= sighting.longitude %></td>
        <td>
  <%= time_ago_in_words(Time.zone.local_to_utc(sighting.sighted_at)) + ' ago' if sighting.sighted_at %>


</td>
        <td><%= sighting.notes %></td>
        <td><%= link_to 'Show', sighting %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


